:root {
    --primary: #d81e5b;
    --secondary: #8c38ff;
    --dark: #131a26;
    --light: #eee;
}

.listbox {
    width: 100%;
    max-width: 300px;
    background-color: var(--dark);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
    padding: 20px 20px;
    margin-bottom: 10px;
    color: var(--light);
    font-size: medium ;
    display: flex;
}

.basebox {
    width: 100%;
    max-width: 300px;
    background-color: var(--secondary);
    border-radius: 16px;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: -10px;
    text-align: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 900;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: var(--light);
}

.detel{
    margin-top: 50px;
    margin-bottom: 100px;
}